* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

html {
  height: 100%; }

header.container {
  padding: 0; }
  header.container .navbar {
    margin-bottom: 0; }
    header.container .navbar .container-fluid .navbar-toggle {
      border: none;
      margin-top: 40px;
      padding: 0; }
      header.container .navbar .container-fluid .navbar-toggle:hover, header.container .navbar .container-fluid .navbar-toggle:focus {
        background-color: transparent; }
      header.container .navbar .container-fluid .navbar-toggle .icon-bar {
        background-color: #49cbcd; }
  header.container .navbar-default {
    background-image: none;
    box-shadow: none;
    border: none;
    background-color: #ffffff;
    border-radius: 0; }
    header.container .navbar-default .navbar-collapse {
      border: none; }
    header.container .navbar-default .navbar-brand {
      height: auto;
      padding: 31px 0; }
      @media screen and (max-width: 768px) {
        header.container .navbar-default .navbar-brand {
          margin-left: -10px; } }
      @media screen and (max-width: 415px) {
        header.container .navbar-default .navbar-brand {
          margin-left: 10px; } }
    header.container .navbar-default .navbar-nav {
      padding: 0; }
      header.container .navbar-default .navbar-nav li a {
        padding: 0 30px;
        line-height: 97px;
        text-transform: capitalize;
        border-bottom: 3px solid transparent;
        color: #484c55; }
        header.container .navbar-default .navbar-nav li a:hover {
          background-color: #f8f9fb;
          border-bottom: 3px solid #49cbcd;
          color: #49cbcd; }

.owl-carousel {
  background-image: url("../images/banner.png");
  background-size: cover;
  min-height: 566px; }
  .owl-carousel .carousel {
    padding-top: 135px;
    padding-bottom: 147px;
    text-align: center;
    color: #FFFFFF; }
    .owl-carousel .carousel h1, .owl-carousel .carousel h2 {
      font-size: 63px;
      margin: 0 0 30px; }
    .owl-carousel .carousel p {
      font-size: 23px;
      margin: 0 0 56px; }
    .owl-carousel .carousel a {
      color: #FFFFFF;
      font-size: 26px;
      border: 3px solid #FFFFFF;
      border-radius: 5px;
      padding: 18px 42px;
      display: inline-block; }
  .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block; }
  .owl-carousel .owl-dots {
    display: none; }
  .owl-carousel .owl-nav {
    position: relative; }
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
      position: absolute;
      bottom: 241px;
      animation: from_left 2.2s both;
      animation-delay: 1s;
      width: 51px;
      height: 51px;
      border-radius: 26px;
      background-color: #FFFFFF;
      outline: none; }
      @media screen and (max-width: 768px) {
        .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
          display: none; } }
      .owl-carousel .owl-nav button.owl-prev i, .owl-carousel .owl-nav button.owl-next i {
        line-height: 51px;
        font-size: 26px;
        color: #49cbcd; }
    .owl-carousel .owl-nav button.owl-prev {
      left: 29px; }
    .owl-carousel .owl-nav button.owl-next {
      right: 29px; }

/*# sourceMappingURL=style.css.map */
